{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <form method="post" class="container text-center" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mt-3 border border-success bg-secondary text-primary">
      {% for message in messages %}
        {% if 'success' in message.tags %}
          <div class="success-message">{{ message }}</div>
        {% endif %}
      {% endfor %}
      
      {{ form_personal.as_table }}
      {{ form_feedback.as_table }}
      {{ form_file.as_table }}

      <input type="submit" value="отправить" />
    </div>
  </form>
{% endblock %}
