{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <div class="container">
    <h1>О проекте</h1>
    <div class="accordion">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button custom-gradient-bg-accord" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="flase" aria-controls="collapseOne">Наша команда</button></h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body custom-gradient-bg-accord">
              <li>Кот-испытатель Борис</li>
              <li>OselSTeleshkoy</li>
              <li>Имена остальных засекречены</li>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button bg-dark-subtle custom-gradient-bg-accord" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Наши ракеты</button></h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body custom-gradient-bg-accord">
              <li>Кега</li>
              <li>Тапочек</li>
              <li>Имена остальных ракет засекречены</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
