{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="mt-3 border border-success bg-success rounded-1 text-center">
            <h1>Спасибо за обратную связь!</h1>
        </div>
    </div>
{% endblock content %}