{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <main class="container text-center">
    <h1 class="badge bg-success">Письмо отправлено</h1>

    <div class="border bg-secondary">
      <h5 class="text-info">Вы успешно вышлАи из аккаунта<br /></h5>
    </div>
  </main>
{% endblock %}
