{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <main class="container text-center">
    <h1 class="badge bg-success">Пароль успешно изменён</h1>

    <div class="border bg-secondary">
      <h5 class="text-info">Теперь вход выполняется под новым паролем!</h5>
    </div>
  </main>
{% endblock %}