{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <main class="container text-center">
    <h1 class="badge bg-success">Письмо отправлено</h1>

    <div class="border">
      <h5>
        Письмо с инструкциями по восстановлению пароля отправлено<br />

        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты <br> <span class="text-info">(если в нашей базе данных есть такой адрес) Вы должны получить ее в ближайшее время.</span>
      </h5>
      <h6 class="text-warning">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</h6>
    </div>
  </main>
{% endblock %}
