{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <div class="container">
    <div class="row gutters-sm mt-3">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="/media/{{ request.user.profile.image }}" alt="Картинки нет!" class="img-thumbnail border border-primary rounded" />
              <div class="mt-3">
                <h4>О себе:</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="2" y1="12" x2="22" y2="12"></line>
                  <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                </svg>Сайт
              </h6>
              <span class="text-secondary">http://127.0.0.1/</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Имя и Фамилия</h6>
              </div>
              <span class="col-sm-9 text-secondary" style="font-family: 'Arial', sans-serif;">{{ request.user.first_name|default:'неуказано' }} {{ request.user.last_name|default:'неуказано' }}</span>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Почта</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ request.user.email }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">День рождения</h6>
              </div>
              <div class="col-sm-9 text-secondary" style="font-family: 'Arial', sans-serif;">{{ request.user.profile.birthday|default:'неуказано' }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Чашек кофе сварено</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ user.profile.coffee_count }}</div>
            </div>
          </div>
          <div class="accordion text-center" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Редактирование профиля</button></h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mt-3 border border-success bg-secondary container">
                      {{ form.user.as_p }}
                      {{ form.profile.as_p }}
                      <button type="submit" name="change" title="изменение">изменение профиля</button>
                      <button type="submit" name="drink_coffee" title="кофеёк"><a href="{% url 'homepage:coffee' %}">выпить кофе</a></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Статусбар</i></h6>
                <small>Статус А</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Статусбар</i></h6>
                <small>Статус Б</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Взято с https://www.bootdey.com/ -->
