{% extends "base.html" %}
{% block content %}
{% load static %}
<main class="container text-center">
    <h1>Создание аккаунта</h1>
    {% for message in messages %}
        {% if 'success' in message.tags %}
          <div class="success-message">{{ message }}</div>
        {% endif %}
      {% endfor %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mt-3 border border-success bg-secondary">
                {% for field in form %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                        <label class="control-label" for="{{field.id_for_label}}">{{ field.label|capfirst }}</label>
                        <div class="controls" title="{% if field.field.required %}обязательное поле">* {% else %}"> {% endif %}
                            {{field}}
                            <h6>{{field.help_text}}</h6>
                            {% if form.errors %}
                                <span class="help-inline">
                                    {% for error in field.errors %}
                                        <div class="text-warning">
                                            {{ error|escape }}
                                        </div> 
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            <input type="submit" value="зарегистрироваться" title="вход в аккаунт"/><br />
            <a href="{% url "users:login" %}">Вы уже регистрировались ранее?</a>
        </div>
    </form>
</main>
{% endblock content %}