{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <table class="table table-info table-hover container mt-1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Ник</th>
        <th scope="col">Аккаунт создан</th>
        <th scope="col">Кофе сварено</th>
        <th scope="col">Аватар</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td style="font-family: 'Arial', sans-serif;">{{ user.first_name|default:"неуказано" }}</td>
          <td style="font-family: 'Arial', sans-serif;">{{ user.last_name|default:"неуказано" }}</td>
          <td><a class="text-dark" href="{% url "users:user_detail" user.pk %}">{{ user.username }}</a></td>
          <td>{{ user.date_joined }}</td>
          <td>{{ user.profile.coffee_count }}</td>
          <td><img src="/media/{% if user.profile.image %}{{ user.profile.image }}{% else %}images/first_rocket.jpg{% endif %}" class="border border-primary-subtle rounded" width="50px", height="50px"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
