<!DOCTYPE html>
<html lang="ru">
  {% load static %}
  <head>
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/custom-main.css" %}">
    <link rel="stylesheet" href="{% static "/css/custom-gradient.css" %}">
    <link rel="icon" type="image/ico" href="{% static "img/favicon-16x16.ico" %}">
    <link rel="icon" type="image/ico" href="{% static "img/favicon-32x32.ico" %}">
    <link rel="icon" type="image/ico" href="{% static "img/favicon.ico" %}">
  </head>
  <body class="custom-gradient-bg">
    {% include 'includes/header.html' %}
    <main>
      {% block content %}
        А где?
      {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
