{% load static %}
<footer>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="container">
      <div class="col-md-4 d-flex align-items-center">
        <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"><svg class="bi" width="30" height="24"></svg></a>
        <span class="text-info">© PEPE, django</span>
      </div>
      <div class="text-info me-2 lh-1">
        <svg class="bi" width="30" height="24"></svg>
        <span id="year">{% now "Y" %}</span>
      </div>
    </div>
    <script>
      let get_id = document.getElementById('year')
      let now = new Date()
      let server_time = new Date("{% now "Y-m-d H:i" %}")
      if ((server_time.getHours() - now.getHours()) > -24) {
        get_id.textContent = server_time.getFullYear()
      } else {
        get_id.textContent = now.getFullYear()
      }
    </script>
  </footer>
</footer>
