{% block card %}
  <div class="col-3">
    <div class="card custom-gradient-bg" style="width: 18vrem;">
      <div class="card-body">
        {% comment %} {% for image in item.main %}
          <img src="/media/{{image}}" class="card-img-top"/>
        {% empty %} {% endcomment %}
          <div class="alert alert-dark" role="alert">Типа картинка</div>
        {% comment %} {% endfor %} {% endcomment %}
        <h5 class="card-title">{{ item.name }}</h5>
        <div class="card-text">
          Категория: {{item.category.name}}<br/>
          Тэги:{% for tag in item.tags.all %}
            {{ tag }}
          {% endfor %}<br />
          {{ item.text|truncatewords_html:10|safe }}
        </div>
        <a href="{% url 'catalog:item_detail' item.id %}" class="btn btn-primary">{{ item.name }}</a>
      </div>
    </div>
  </div>
{% endblock %}
