.custom-gradient-bg {
    background: linear-gradient(135deg, #8aa2a0, #4b075d) !important;
    color: white;
}

.custom-gradient-bg-accord {
    background: linear-gradient(100deg, #8aa2a0, #4b075d) !important;
    color: white;
}

