{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 class="text-center">{{ header_items }}</h1>
    <div class="row gx-5 gy-3">
        {% for item in items %}
            {% include "includes/item_card.html" %}
            {% empty %}
                Ракет неть
        {% endfor %}
    </div>
</div>

  
{% endblock %}
