{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <h1 class="text-center">Наши ракеты</h1>
    <div class="row gx-5 gy-3">
      {% for item in items %}
          {% ifchanged item.category.name %}
            <h1 class="strong text-center">{{ item.category.name }}</h1>
            <hr />
          {% endifchanged %}
          {% include 'includes/item_card.html' %}
        {% empty %}
        <h1 class="container mt-5 mb-4 text-center">Товары не подвезли</h1>
      {% endfor %}
    </div>
  </div>
{% endblock %}
