{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="bg-dark container mt-2 mb-2 border border-dark rounded-3">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <!--ВеликоРусский костыль HTML-->
        {% if main_image != None %}
          <div class="carousel-item active">
            <img src="{{ main_image.get_300x300px.url }}" class="d-block w-100" alt="..." />
            <a href="{% url 'download:download_file' main_image.image %}" class="nav-link btn btn-outline-info me-md-2">Скачать</a>
          </div>
        {% endif %}
        {% for image in images.all %}
          {% if image != 'None' %}
            <div class="carousel-item">
              <img src="{{ image.get_300x300px.url }}" class="d-block w-100" alt="..." />
              <a href="{% url 'download:download_file' image.image %}" class="nav-link btn btn-outline-info me-md-2">Скачать</a>
            </div>
          {% endif %}
          {% empty %}
          <h1 class="mb-4 text-center">Товар не подвезли</h1>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>
      Текст: {{ item.text|safe }}
      Категория: {{ item.category.name|safe }}<br />
      Тэг:{% for tag in item.tags.all %}
        {{ tag|safe }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
